.App {
  font-family: "Roboto";
  /* height: 3000px; */
}

.container {
  padding: 0 36px;
}

.slider-wrapper {
  /* overflow-x: hidden; */
  width: 100%;
}

.slider {
  display: flex;
  justify-content: space-between;
  /* cursor: pointer; */
  /* width: 100%; */
}

.box {
  margin-right: 8px;
  height: 200px;
  width: 200px;
  background: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: white;
}
