/* button gradient style */
/* .gradient-text-gold {
  @apply bg-clip-text text-transparent;
  background-image: linear-gradient(90deg, #f9f295 -6.63%, #e0aa3e 27.32%, #faf398 71.21%, #b88a44 96.3%);
}

.group:hover .gradient-text-gold {
  background-image: linear-gradient(180deg, #ffd700 -71%, #ac7c00 100%);
}

.rounded-gold-border {
  @apply inline-flex p-4 justify-center items-center gap-4 rounded-full border transition-all duration-200;
  border-color: #f9f295;
}

.group:hover .rounded-gold-border {
  @apply bg-gray-100;
} */
