@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../styles/fonts/font.css");
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");



@layer utilities {
  body {
    @apply bg-background-dark min-w-[399px] max-w-[1920px] mx-auto !overflow-x-hidden;
  }
  .smooth-transition {
    @apply !transition-all !duration-500;
  }
  .active-pagination {
    @apply !bg-[white] outline outline-[white];
  }
}
html{
  scroll-behavior: smooth;
}
body {
  max-width: 1920px;
  margin: auto;
}

/* Scroll bar style */
::-webkit-scrollbar {
  width: 5px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #2b2b2b;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: rgb(79, 79, 79);
}

::-webkit-scrollbar-thumb:horizontal {
  background: rgb(54, 54, 54);
  border-radius: 1px;
}

.btnGradient {
  display: flex;
  padding: 16px 80px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 71px;
  border: 1px solid var(--GOLD-2, #f9f295);
  background: var(
    --GOLD-2,
    linear-gradient(
      90deg,
      #f9f295 -6.63%,
      #e0aa3e 27.32%,
      #faf398 71.21%,
      #b88a44 96.3%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Scroll animation */
.animate-progress {
  height: 0; /* Initial height */
  transition: height 1s;
  animation: progressAnimation 3s ease-in-out infinite; /* Apply the animation */
}

@keyframes progressAnimation {
  0% {
    height: 0;
    top: 0;
  }
  50% {
    height: 300px;
    top: 200;
  }
  100% {
    height: 0;
    top: 100%;
  }
}

/*  ============================================================ */
/*  ============================================================ */

.productBg {
  background: url(../assets/img/products/productBg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  transition: opacity 1s ease-in-out;
}  


.smooth-height-transition {
  transition: height 0.7s ease-in-out;
}


.topStack{
  z-index: 9999999999999999999999999999999999999 !important;
}

.backdropShadow{
  backdrop-filter: 1px;
}




